extends layout

block content
    form(action='/authenticate' method='post')
        div(class=['card'] style='border: none')
            div(class=['card-section', 'grid-container'])
                label(for='username') Username
                input(
                    autofocus
                    id='username'
                    name='username'
                    type='text'
                )
                label(for='password') Password
                input(
                    id='password'
                    name='password'
                    type='password'
                )
                button(
                    class=['button']
                    type='submit'
                ) Submit
block footer
