doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Andrew Bruner #{'|'} Weblog
        link(
            rel='stylesheet'
            href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css'
            integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2'
            crossorigin='anonymous'
        )
        //- style.
        //-     [v-cloak] {
        //-         display: none;
        //-     }
    body
        div(class=['container'] id='app' v-cloak)
            nav(class=['navbar', 'navbar-light'])
                a(class=['navbar-brand', 'd-sm-none'] href='#')
                    small(class=['font-weight-light']) Andrew Bruner #{'|'}' Weblog
                a(class=['navbar-brand', 'font-weight-light', 'd-none', 'd-sm-flex'] href='#') Andrew Bruner #{'|'} Weblog
                if !user.length
                    a(class=['btn', 'btn-outline-dark', 'btn-sm', 'font-weight-light'] href='/authenticate' role='button') Log In
                if user.length
                    template
                        span Welcome #{user[0].username}
                        a(class=['btn', 'btn-outline-dark', 'btn-sm', 'font-weight-light'] href='/logout' role='button') Log Out
            each post in posts
                div(class=['card'])
                    div(class=['card-body'])
                        h1(class=['card-title']) #{post.title}
                        div(class=['card-text'])
                            != post.html