doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        title Andrew Bruner #{'|'} Web Developer
        link(
            crossorigin='anonymous'
            href='https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css'
            integrity='sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I='
            rel='stylesheet'
        )
    body
        div(class=['top-bar'])
            div(class=['top-bar-left'])
                ul(class=['menu', 'align-middle'])
                    li
                        a(class=['h2'] href='/' style='color: black') Andrew Bruner
                    if !user
                        li(style='margin-left: auto')
                            a(href='https://github.com/andrewbruner' style='color: black')
                                img(src='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-github.svg' style='width: 25px')
                        li
                            a(href='https://twitter.com/andrewbruner' style='color: black')
                                img(src='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-twitter.svg' style='width: 25px')
            if user
                div(class=['top-bar-right'])
                    ul(class=['menu', 'align-middle'])
                        block new post
                            li
                                a(class=['button', 'secondary'] href='/new-post' style='border-radius: 30px; margin: 2px') New Post
                        li
                            a(class=['button', 'secondary'] href='/logout' style='border-radius: 30px; margin: 2px') Log Out
        block content
        block footer
            ul(class=['breadcrumbs'] style='padding-top: 1em; padding-left: 1em')
                li &copy; Andrew Bruner 2021
                li
                    a(href='/authenticate' style='color: gray') Admin
