extends layout

block new post

block content
    form(action=`${post ? '/update-post' : '/create-post'}` method='post')
        div(class=['card'] style='border: none')
            div(class=['card-section'])
                label(for='postTitle') Title
                input(
                    autofocus=(post ? false : true)
                    class=['form-control']
                    id='postTitle'
                    name='postTitle'
                    type='text'
                    value=`${post ? post.title : ''}` 
                )
                textarea(
                    class=['form-control']
                    id='postBody'
                    name='postBody'
                    rows='15'
                ) #{post ? post.markdown : ''}
                div(class=['button-group'])
                    button(
                        class=['button']
                        type='submit'
                    ) #{post ? 'Update' : 'Post'}
                    if post
                        input(
                            id='postId'
                            name='postId'
                            type='hidden'
                            value=`${post.id}`
                        )
                        button(
                            class=['button']
                            formaction='/delete-post'
                            type='submit'
                        ) Delete
block footer